@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 100vw;
}

body,
html {
  max-width: var(--max-width);
	padding: 0;
  margin: 0 auto;
  font-family: 'Source Han Sans CN';
	background-color: #fff;
}

body,
html,
#root {
  min-height: 100vh;
  box-sizing: border-box;
}
